<pre><code><span id=statement1>package javafile;</span>
<span id=statement2></span>
<span id=statement3>import javafile.*;</span>
<span id=statement4></span>
<span id=statement5>public class Method {</span>
<span id=statement6>	public static void add(int a, int b) {</span>
<span id=statement7>		int c = a + b;</span>
<span id=statement8>	}</span>
<span id=statement9></span>
<span id=statement10>	public static void main(String[] args) {</span>
<span id=statement11>		int left = 10;</span>
<span id=statement12>		int right = 20;</span>
<span id=statement13>		add(left, right);</span>
<span id=statement14>	}</span>
<span id=statement15>}</span>
</code></pre>