<pre><code><span id=statement1>package javafile;</span>
<span id=statement2></span>
<span id=statement3>import javafile.InstanceCheck;</span>
<span id=statement4></span>
<span id=statement5>public class InstanceCheck {</span>
<span id=statement6>	public static void main(String[] args) {</span>
<span id=statement7>		Cat tama = new Cat();</span>
<span id=statement8>		tama.name = "neko";</span>
<span id=statement9>		tama.age = 5;</span>
<span id=statement10>	}</span>
<span id=statement11>}</span>
<span id=statement12></span>
<span id=statement13>class Cat {</span>
<span id=statement14>	String name;</span>
<span id=statement15>	int age;</span>
<span id=statement16>}</span>
</code></pre>