<pre><code><span id=statement1>package javafile;</span>
<span id=statement2></span>
<span id=statement3>import javafile.*;</span>
<span id=statement4></span>
<span id=statement5>public class Array {</span>
<span id=statement6>	public static void main(String[] args) {</span>
<span id=statement7>		int a = 1;</span>
<span id=statement8>		int b = 2;</span>
<span id=statement9>		int tmp = 0;</span>
<span id=statement10>		int i = 0;</span>
<span id=statement11>		String stringData = "data";</span>
<span id=statement12>		int test[] = { 1, 2, 3, 4 };</span>
<span id=statement13>		test[0] = 10;</span>
<span id=statement14></span>
<span id=statement15>		for (i = 0; i < 4; i++) {</span>
<span id=statement16>			tmp = a;</span>
<span id=statement17>			a = b;</span>
<span id=statement18>			b = tmp;</span>
<span id=statement19>			test[i] = i;</span>
<span id=statement20>		}</span>
<span id=statement21></span>
<span id=statement22>		int[] data = { 4, 1, 2, 5, 3 };</span>
<span id=statement23>		for (int k = 0; k < 4; k++) {</span>
<span id=statement24>			for (int j = 0; j < 4 - k; j++) {</span>
<span id=statement25>				if (data[j] < data[j + 1]) {</span>
<span id=statement26>					int temp = data[j];</span>
<span id=statement27>					data[j] = data[j + 1];</span>
<span id=statement28>					data[j + 1] = temp;</span>
<span id=statement29>				}</span>
<span id=statement30>			}</span>
<span id=statement31>		}</span>
<span id=statement32>	}</span>
<span id=statement33>}</span>
</code></pre>