<pre><code><span id=statement1>package javafile;</span>
<span id=statement2></span>
<span id=statement3>import javafile.*;</span>
<span id=statement4></span>
<span id=statement5>public class HelloWorld {</span>
<span id=statement6>	public static void main(String[] args) {</span>
<span id=statement7>		int a = 1;</span>
<span id=statement8>		int b = 2;</span>
<span id=statement9>		int tmp = 0;</span>
<span id=statement10>		int i = 0;</span>
<span id=statement11>		String data = "data";</span>
<span id=statement12>		// int test[] = { 1, 2, 3, 4 };</span>
<span id=statement13></span>
<span id=statement14>		for (i = 0; i < 5; i++) {</span>
<span id=statement15>			tmp = a;</span>
<span id=statement16>			a = b;</span>
<span id=statement17>			b = tmp;</span>
<span id=statement18>		}</span>
<span id=statement19>	}</span>
<span id=statement20>}</span>
</code></pre>